#root{
    height: 100vh
}

.App {
    height: 100%;
}

/* SEARCH AREA */

.search {
    margin: 10px;
}

.search .search-field input{
    /* margin-top: 10px; */
    /* margin-left: 10px; */
}

.search .search-button{
    margin-top: 10px;
    /* margin-left: 10px; */
}

/* USER PROFILE */

.user-profile {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.user-profile .profile {
    width: 200px; 
    margin: 10px;
}

.user-profile .profile .avatar {
    /* width: 50%; */
    height: 50%;
}

/* REPOS-LIST */

.user-profile .repos-list {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column
}

.user-profile .repos-list .repos {
    overflow-y: scroll;
    flex: 1;
    background-color: #eee;
}

.user-profile .repos-list .header {
    display: flex;
    flex-direction: row;
}

.user-profile .repos-list .header .selected{
    font-weight: 800;
}

.user-profile .repos-list .header span {
    cursor: pointer;
}
.user-profile .repos-list .header .size {
    width: 100px;
}

.user-profile .repos-list .header .name {
    flex: 1;
}

.user-profile .repos-list .header .created_at {
    flex: 1;
}

.user-profile .repos-list .header .updated_at {
    flex: 1;
}

.user-profile .repos-list .repos .repo-item {
    display: flex;
    flex-direction: row;
}

.user-profile .repos-list .repos .repo-item .size {
    width: 100px;
}

.user-profile .repos-list .repos .repo-item .name {
    flex: 1;
}

.user-profile .repos-list .repos .repo-item .created_at {
    flex: 1;
}

.user-profile .repos-list .repos .repo-item .updated_at {
    flex: 1;
}

/**/

.App-logo {
    position: relative;
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
    top: 12px;
}

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

/* .App-link { */
/*   color: #61dafb; */
/* } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
